---

---
    <form>
        <div class="inside-form-wrapper">
            <h3>Anfrageformular:</h3>
            <strong>Send mir eine Nachricht</strong>
            <div class="first-area">
                <input type="text" id="firstName" placeholder="Vorname" autocomplete="name" minlength="3" required>
                <input type="text" id="lastName" placeholder="Nachname" autocomplete="family-name" minlength="3" required>
            </div>
        
            <div class="second-area">
                <input id="email" type="email" placeholder="E-Mail" autocomplete="email">
                <input type="text" id="subject" placeholder="Betreff">
            </div>
            <hr>
            <strong>Erzähl mir mehr über deine Idee</strong>
            <div class="third-area">
                <textarea placeholder="Deine Nachricht an mich ..." id="message" minlength="3" required></textarea>
            </div>
            <hr>
            <div class="fourth-area">
                <div class="custom-checkbox-wrapper" role="button">
                    <input type="checkbox" id="dataProtectionCheckbox" aria-hidden="true" required>
                    <div class="custom-checkbox"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"/></svg></div>
                </div>
                <div>
                    <p>Ich habe die <a href="/data-protection">Datenschutzerklärung</a> gelesen und stimme der darin beschriebenen Verarbeitung meiner Daten zu.</p>
                </div>
            </div>
            <hr>
            <div class="error-area" id="error-area">
                
            </div>
            <div class="five-area">
                <button disabled form-submit-button>Nachricht senden</button>
            </div>
        </div>
    </form>

<script>

    import { setToaster } from "../utils/scripts/toaster"

    type Error = {
        field:string,
        errorTyp:string,
        message:string,
    }

    type Field = {
        name:string,
        input : HTMLInputElement,
        touched : boolean,
        valid : boolean
    }

    type Payload = {
        firstname:string;
        lastname:string;
        email:string;
        subject:string;
        message:string;
    }

    const apiUrl = 'https://contact-express.arndt-dev.de/send-mail';
    const emailRegex:RegExp = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    const emailMinlength:number = 6;
    const nameMinLenght:number = 3;
    const subjectMinLenght:number = 3;
    const messageMinLenght:number = 3;
    const submitButton = document.querySelector<HTMLButtonElement>('[form-submit-button]');

    const errorArea = document.getElementById('error-area') as HTMLElement;
    let formErrors:Error[] = [];

    submitButton?.addEventListener("mouseenter",ShowInvalidFieldOnHover);
    submitButton?.addEventListener("click", onSubmit);

    /* 
    #################################################
    ######## Factory und Refresh der Felder #########
    #################################################`
    */

    const allFields:Field[] = [];

    function createField(name: string, id: string): Field {
    const field: Field = {                                          
        name,   
        input: document.getElementById(id) as HTMLInputElement,
        touched: false,
        valid: false,
    };
    allFields.push(field);
    return field;
    }

    function refreshAllFields(){
        allFields.forEach((field) => {
            if(field.input.value) field.input.value="";
            if(field.input.checked) field.input.checked= false;
            field.touched = false;
            field.valid = false;
            field.input.classList.remove("error");
        });
        formErrors = [];
        updateSubmitButton();
    }

    /* 
    #################################################
    ########### Registration der Felder #############
    #################################################`
    */

    const emailInput:Field = createField('E-Mail','email');
    const firstNameInput:Field = createField('First-Name','firstName');
    const lastNameInput:Field = createField('Last-Name','lastName');
    const subjectInput:Field = createField('Subject','subject');
    const messageInput:Field = createField('Message','message');
    const dataProtectionCheckboxInput:Field = createField('Data-Protection-Checkbox','dataProtectionCheckbox');

    /* 
    #################################################
    ######### Registration der Validation ###########
    #################################################`
    */

    function validateEmailInput(){
        if (!emailInput.touched) return;
        requiredTest(emailInput, "Eine E-Mail muss vorhanden sein.")
        minLengthTest(emailInput, emailMinlength, "Eine E-Mail muss min. 6 Zeichen lang sein.")
        regexTest(emailInput, emailRegex, "Deine E-Mail ist nicht valide.") 
    }

    function validateFirstNameInput(){
        if (!firstNameInput.touched) return;
        requiredTest(firstNameInput, "Dein Vorname muss vorhanden sein.")
        minLengthTest(firstNameInput, nameMinLenght, "Dein Vorname muss min. 3 Zeichen lang sein.")
    }

    function validateLastNameInput(){
        if (!lastNameInput.touched) return;
        requiredTest(lastNameInput, "Dein Nachname muss vorhanden sein.")
        minLengthTest(lastNameInput, nameMinLenght, "Dein Nachname muss min. 3 Zeichen lang sein.")
    }

    function validateSubjectInput(){
        if (!subjectInput.touched) return;
        requiredTest(subjectInput, "Ein Betreff muss vorhanden sein.")
        minLengthTest(subjectInput, subjectMinLenght, "Ein Betreff muss min. 3 Zeichen lang sein.")
    }
    
    function validateMessageInput(){
        if (!messageInput.touched) return;
        requiredTest(messageInput, "Eine Nachricht muss vorhanden sein.")
        minLengthTest(messageInput, messageMinLenght, "Deine Nachricht muss min. 3 Zeichen lang sein.")
    }

    function validateDataProtectionCheckbox(){
        if (!dataProtectionCheckboxInput.touched) return;
        checkedTest(dataProtectionCheckboxInput, "Datenschutzerklärung muss akzeptiert werden.")
    }

    /* 
    #################################################
    ########### Registration der Tests ##############
    #################################################`
    */

    function checkedTest(field:Field, errorMessage:string){
        let message = errorMessage;
        const errorTyp = `${field.name} Required Error`;
        if (!errorMessage) message = ` Checkbox ${field.name} is required.`;
        if(!field.input.checked){
            field.valid = false;
            const error = {
                    field: field.name,
                    errorTyp: errorTyp,
                    message: message,
                } as Error;
                addError(error);
            return false
        }
        field.valid = true;
        removeError(errorTyp);
        return true;
    }

    function requiredTest(field:Field, errorMessage:string){
        let message = errorMessage;
        const errorTyp = `${field.name} Required Error`;
        if (!errorMessage) message = ` field ${field.name} is required.`;
        if(field.input.value.length <= 0){
            field.valid = false;
            const error = {
                    field: field.name,
                    errorTyp: errorTyp,
                    message: message,
                } as Error;
                addError(error);
            return false
        }
        field.valid = true;
        removeError(errorTyp);
        return true;
    }

    function regexTest(field:Field, regex:RegExp, errorMessage:string){
        let message = errorMessage;
        const errorTyp = `${field.name} Regex Error`;
        if (!errorMessage) message = `Value in field ${field.name} is not valid.`;
        if(!regex.test(field.input.value)){
            field.valid = false;
            const error = {
                    field: field.name,
                    errorTyp: errorTyp,
                    message: message,
                } as Error;
                addError(error);
            return false;
        }
        field.valid = true;
        removeError(errorTyp);
        return true;
    }

    function minLengthTest(field:Field, minlength:number, errorMessage:string){
        let message = errorMessage;
        const errorTyp = `${field.name} MinLength Error`;
        if (!errorMessage) message = `Length in field ${field.name} is not valid.`;
        if(field.input.value.length < minlength ){
            field.valid = false;
            const error = {
                    field: field.name,
                    errorTyp: errorTyp,
                    message: message,
                } as Error;
                addError(error);
            return false
        }
        field.valid = true;
        removeError(errorTyp);
        return true;
    }

    /* 
    #################################################
    ####### Registration der EventListener ##########
    ######## Damit es nach einer Eingabe  ###########
    ####### Die Validierung ausgeführt wird  ########
    #################################################`
    */

    emailInput.input.addEventListener('blur', () => {
        emailInput.touched = true;
        validateEmailInput();
        setBorderIfError(emailInput);
    });

    firstNameInput.input.addEventListener('blur', () => {
        firstNameInput.touched = true;
        validateFirstNameInput();
        setBorderIfError(firstNameInput);
    });

    lastNameInput.input.addEventListener('blur', () => {
        lastNameInput.touched = true;
        validateLastNameInput();
        setBorderIfError(lastNameInput);
    });

    subjectInput.input.addEventListener('blur', () => {
        subjectInput.touched = true;
        validateSubjectInput();
        setBorderIfError(subjectInput);
    });

    messageInput.input.addEventListener('blur', () => {
        messageInput.touched = true;
        validateMessageInput();
        setBorderIfError(messageInput);
    });

    dataProtectionCheckboxInput.input.addEventListener('click', () => {
        dataProtectionCheckboxInput.touched = true;
        validateDataProtectionCheckbox();
        setBorderIfError(dataProtectionCheckboxInput);
    });

    function setBorderIfError(field:Field){
        if (!field.valid){
            field.input.classList.add("error");
        } else {
            field.input.classList.remove("error");
        }
    }

    function addError(newError: Error) {
        const alreadyExists = formErrors.some(e => e.errorTyp === newError.errorTyp);
        if (!alreadyExists) {
            formErrors.unshift(newError);
        }
        updateSubmitButton();
        renderError();
    }

    function removeError(errorTyp: string) {
        formErrors = formErrors.filter(e => e.errorTyp !== errorTyp);
        updateSubmitButton();
        renderError();
    }

    function isFormValid():boolean{
        const noErrors = formErrors.length == 0;
        const allTouched = allFields.every(field => field.touched);
        const allValid = allFields.every(field => field.valid);
        return noErrors && allTouched && allValid;
    }

    function updateSubmitButton(){
        if(!submitButton) return
        submitButton.disabled = !isFormValid();
    }

    function ShowInvalidFieldOnHover(){
        allFields.forEach((field) =>{
           if(!field.touched || !field.valid){
            field.input.classList.add("error");
           }
        })
    }

    function returnErrorSVG():string{
        return `<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
            <path d="M508.5-291.5Q520-303 520-320t-11.5-28.5Q497-360 480-360t-28.5 11.5Q440-337 440-320t11.5 28.5Q463-280 480-280t28.5-11.5ZM440-440h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
            </svg>`
    }

    function renderError(){
        if(!errorArea) return
        errorArea.textContent = '';
        if(formErrors && formErrors.length > 0){
            const newError = document.createElement('p');
            const errorIconWrapper = document.createElement('div');
            errorIconWrapper.classList.add("error-icon");
            errorIconWrapper.innerHTML = returnErrorSVG();
            newError.textContent = formErrors[0].message;
            newError.classList.add('error-message');
            errorArea.appendChild(errorIconWrapper);
            errorArea.appendChild(newError);
            errorArea.classList.add("active")
        }
        if(formErrors.length <= 0){
            errorArea.classList.remove("active")
        }
    }

    function buildPayLoadFromForm():Payload{
        const JSON = {
            firstname: firstNameInput.input.value,
            lastname: lastNameInput.input.value,
            email: emailInput.input.value,
            subject:subjectInput.input.value,
            message: messageInput.input.value
        }
        return JSON
    }

    async function sendMessageToAPI(payload:Payload){
        const response = await fetch(
            apiUrl,
            {
                method:'POST',
                headers:{
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload)
            });
        const content = await response.json();
        return content
    }

    async function onSubmit(event:Event){
        event.preventDefault();
        console.log("test");
        const payload = buildPayLoadFromForm();
        try{
            const response = await sendMessageToAPI(payload);
            setToaster("success", "Nachricht konnte erfolgreich versenden werden.")
        } catch(error){
            setToaster("error", "Es liegt ein Fehler in der Verbindung vor.");
        } finally {
            refreshAllFields();
        }
    
    }

</script>

<style lang="scss">
    @use "../styles/index.scss" as *;

    form{
        max-width:1240px;
        width: 100%;
        height: 100%;
        background-color: $box-grey-100;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        padding: 2rem clamp(1.5rem, 6vw, 4rem);
        border-radius: 8px;
        padding-bottom: 2rem;
        box-shadow: 1px 2px 4px rgba(19, 16, 31, 0.25);
        border: 1px solid $box-grey-200;;
    }

    .first-area, .second-area, .third-area, .fourth-area, .five-area{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 1.5rem;

        input {
            box-sizing: border-box;
            width: 50%;
            height: 3.125rem;
            font-size: 1.25rem;
            color: $font-color;
            outline: none;
            border: none;
            border-radius: 8px;
            padding: 0rem 1rem;
            border: 1px solid $box-grey-600;
            font-weight: 300;
            font-family: $system-font;

            &::placeholder{
              color: $box-grey-500;
            }

            &:hover{
                border-color: $button-color-hover;

                &.error{
                     border-color: $button-color-hover;
                }
            }

            &:active, &:focus{
                border-color: $button-color;
            }

            &.error {
                border-color: $error-color;
            }
        }
    }

    .first-area{

        @media screen and (max-width:560px) {
            flex-direction: column;

            input{
                width: 100%;
            }
        }
    }

    .second-area{
        margin: 1.5rem 0px;
        width: 100%;

        @media screen and (max-width:760px) {
            flex-direction: column;

            input{
                width: 100%;
            }
        }
    }

    .fourth-area{
        display: flex;
        align-items: center;
        margin-top: 2rem;
        display: flex;
        position: relative;

        @media screen and (max-width:700px) {
            flex-direction: column;
            align-items: start;
            align-items: center;

            p{
                width: 100%;
                text-align: center;
            }

        }

        p{
            color: $font-color;
            font-size: 1.125rem;
            line-height: 1.5rem;
        }
    }

    .five-area{
        margin-top: 2rem;
        padding-bottom: 1.25rem;

        button{
            margin: 0px;
            font-size: 1.25rem;
        }
         @media screen and (max-width:700px){
            width: 100%;
            display: flex;
            justify-content: center;
            
         }
    }
    strong{
        display: block;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: $font-size-300;
        color: $dark-red-opacity;
        font-weight: 300;
        @media screen and (max-width:700px){
            text-align: center;
            width: 100%;
         }
    }

    h3{
        font-size: 2rem;
        color: $main-color;
        
        font-weight: 400;
        margin-top: 2rem;
         @media screen and (max-width:700px){
            text-align: center;
            width: 100%;
         }
    }

    .inside-form-wrapper{
        width: 100%;
    }

    button{
        color: #fff;

        &:disabled {
            cursor: not-allowed;
            background-color: $box-grey-800;

            &:hover{
                scale: 1;
            }
        }
    }

    hr{
        border: 0px;
        border-top: 1px solid $box-grey-400;
        margin: 2rem 0px;
        width: 100%;
        padding: 0px;
    }

    a{
        color:$button-color;
        &:hover{
            color:$button-color-hover;
        }
    }

    textarea{
        resize: none;
        width: 100%;
        height: 260px;
        font-size: 1.25rem;
        color: $font-color;
        outline: none;
        border: none;
        border-radius: 8px;
        padding: 0.75rem 1rem;
        border: 1px solid $box-grey-600;
        font-weight: 300;
        font-family: $system-font;

        &::placeholder{
            color: $box-grey-500;
        }

        &:hover{
            border-color: $button-color-hover;
            &.error{
                border-color: $button-color-hover;
            }
        }

        &:active, &:focus{
            border-color: $button-color;
        }

        &.error {
            border-color: $error-color;
        }
    }

    .custom-checkbox{
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left:0px;
        border: 1px solid $box-grey-500;
        border-radius: 6px;
    }

    .custom-checkbox-wrapper{
        --box-size : 2.5rem;
        position: relative;
        width: var(--box-size);
        height: var(--box-size);
        display: flex;
        flex-shrink: 0;
        aspect-ratio: 1 / 1;

        input{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0%;
            left:0%;
            opacity: 0;
            cursor: pointer;
        }

        input ~ .custom-checkbox > svg{
            position: absolute;
            top: 52%;
            left: 53%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 100%;
        }

        input:not(:checked).error ~ .custom-checkbox{
            border-color: $error-color;
        }

        input:not(:checked).error:hover ~ .custom-checkbox{
            border-color: $button-color;
        }

        input:not(:checked) ~ .custom-checkbox > svg{
            fill: transparent;
        }

        input:checked ~ .custom-checkbox, input:checked ~ .custom-checkbox > svg{
            border-color: $button-color;
            fill: $button-color;
        }

         input:checked:hover ~ .custom-checkbox, input:checked:hover ~ .custom-checkbox > svg {
             border-color: $button-color-hover;
             fill: $button-color-hover;
         }

        input:hover ~ .custom-checkbox{
             border-color: $button-color-hover;
         }
    }

    .error-area{
        display: flex;
        box-sizing: border-box;
        padding: 0.5rem 1.25rem;
        align-items: center;
        vertical-align: middle;
        min-height: 6rem;
        background-color: transparent;
        border-radius: 6px;
        max-width: 656px;
        gap: 0.75rem;
        opacity: 1;
        position: relative;
        transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;



        &.active{
            background-color:$main-color;
            opacity: 1;
        }
        @media screen and (max-width:550px) {
            flex-direction: column;
            gap: 1rem;
        }
    }
</style>