---

import projectPictureOne from "../../public/assets/pictures/projects/project_one.jpg"
import projectPictureTwo from "../../public/assets/pictures/projects/project_two.jpg"
import projectPictureThree from "../../public/assets/pictures/projects/project_three.jpg"

import projectPictureOneMobil from "../../public/assets/pictures/projects/project_one_mobil.jpg"
import projectPictureTwoMobil from "../../public/assets/pictures/projects/project_two_mobil.jpg"
import projectPictureThreeMobil from "../../public/assets/pictures/projects/project_three_mobil.jpg"

import { iconMap } from "../types/types-icon-map"
import { Image } from "astro:assets"

interface Props {
    subtitle: string;
    title: string;
    descriptions: string[];
    previewImage: string;
    techstack: string[];
    demo: string;
    github: string;
    mainColor: string;
}

const { subtitle, title, descriptions, previewImage, techstack, demo, github, mainColor } = Astro.props;

const imageMap: Record<string, ImageMetadata> = {
    "project_one": projectPictureOne,
    "project_two": projectPictureTwo,
    "project_three": projectPictureThree,
};

const mobileImageMap: Partial<Record<string, ImageMetadata>> = {
    "project_one": projectPictureOneMobil,
    "project_two": projectPictureTwoMobil,
    "project_three": projectPictureThreeMobil,
};
---
<hr class="first-element">
<p>{subtitle}</p>
<h3 style={{ color: mainColor }}>{title}</h3>

{descriptions.map(desc => <p class="description-text" project-text>{desc}</p>)}
<hr>
<div class="thumb-container">
    <picture>
        {mobileImageMap[previewImage] && (
            <source media="(orientation: portrait)" srcset={mobileImageMap[previewImage]!.src} />
        )}
        <Image src={imageMap[previewImage]} alt={title} />
    </picture>
</div>

<strong project-text>Techstack:</strong>
<ul class="technology-list">
    {techstack.map(tech => (
        <li ><img project-tech-stack loading="lazy" src={iconMap[tech].src} alt={iconMap[tech].alt} /></li>
    ))}
</ul>
<hr class="last-element">
<div class="button-box" style={{"--button-color": mainColor}}>
    {demo && <a href={demo} target="_blank">Demo</a>}
    {github && <a class="github" href={github} target="_blank">GitHub</a>}
</div>

<style lang="scss">
    @use "../styles/index.scss" as *;



    strong{
        font-weight: 300;
        font-size: clamp(1.5rem, 12vw, 3.25rem);
        display: block;
        margin: 3rem 0px 1rem 0px;
    }

    button{
        color: $font-white-color;
    }

    h3{
        margin: 1rem 0px;
        filter: brightness(115%);
    }

    .description-text{
        margin-bottom: 2rem;
        max-width: 75ch;
    }

    .button-box{
        display: flex;
        align-items: start;
        button:not(:first-child){
            margin-left: 1.25rem;
        }
    
        a{
            text-decoration: none;
            color: white;
            background-color:var(--button-color);
            padding: 1.25rem 2.5em;
            font-size: $font-size-200;
            margin: 0rem 0rem;
            border: 1px solid var(--button-color);;
            transition: scale 0.25s ease-in-out, background-color 0.25s ease-in-out;

            &:hover{
                 background-color: color-mix(in srgb, var(--button-color)  70%, white);
                 scale: 1.05;
            }

            @media screen and (max-width:600px) {
               padding: 1rem 1.5em; 
            }
        }

        a:not(:first-child){
            margin-left: 1.5rem;
            @media screen and (max-width:600px) {
                margin-left: 1rem;
            }
        }

        a.github {
            border-color: $github-button-color-hover;
            background-color: $github-button-color;
    

            &:hover{
              background-color: $github-button-color-hover;  
            }
        }

        .technology-list{
            margin-top: 1.5rem;
        }

    }

    .thumb-container{
        width: 100%;
        max-width: 678px;
        display: flex;
        align-items: start;
        picture{
                height: 100%;
                width: 100%;
        }

        img{
            width: 100%;
            object-fit: contain;
            object-position: center;
        }

        @media  screen and (orientation: portrait) {
            box-sizing: border-box;
            width: 80%;
            max-width: 80%;
            height: auto;

            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
            border-radius: 8px;
            margin-bottom: 3rem;
            padding-top: 1rem;
            img{
                display: block;
                width: 100%;
                height: auto;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    hr{
        border: none;
        background-color: transparent;
        margin: clamp(1rem, 6vw, 4rem) 0px;
        border-top: 1px solid $box-grey-300;
        max-width: max(75%, 850px);
    }

    hr.first-element{
        margin-top: 0px;
    }

    [project-text]{
        --text-color:#fff;
        color: var(--text-color);
    }

    [project-tech-stack]{
        --brightness-filter: 100%;
        filter: brightness(var(--brightness-filter)) saturate(0%);
    }

</style>
