---
import { iconMap } from "../types/types-icon-map"
import vsBg from '../../public/assets/pictures/vs-background.webp';
import { Image } from 'astro:assets';
---
<section skill-section id="skills">

    <div class="curtain-wrapper" curtain-skill-wrapper>
        <div class="curtain inner red" red-skill-curtain></div>
        <div class="curtain white" white-skill-curtain></div>
    </div>

    <div class="content-box">

        <div picture-container class="picture-container"> 
            <Image src={vsBg} alt="" picture-content width={1920} height={1080} />
        </div>

        <div class="textblock" text-block>  
            <div skill-section-box>            
                <p>Dies sind</p>      
                <h2>Meine Skills</h2>
            </div>

        <div skill-section-box class="skill-category-wrapper">
                <h2>Frontend</h2>
                <div class="skill-category-container">
                    <ul frontend-stack >
                        <li><img loading="lazy" src={iconMap.angular.src} alt={iconMap.angular.alt} width="43" height="43">Angular</li>
                        <li><img loading="lazy" src={iconMap.astro.src} alt={iconMap.angular.alt} width="43" height="43">Astro</li>
                        <li><img loading="lazy" src={iconMap.javascript.src} alt={iconMap.javascript.alt} width="43" height="43">JavaScript</li>
                        <li><img loading="lazy" src={iconMap.typescript.src} alt={iconMap.typescript.alt} width="43" height="43">TypeScript</li>
                        <li><img loading="lazy" src={iconMap.gsap.src} alt={iconMap.gsap.alt} width="43" height="43">GSAP</li>
                        <li><img loading="lazy" src={iconMap.sass.src} alt={iconMap.sass.alt} width="43" height="43">SASS</li>
                    </ul>
                </div>
            </div>

            <div skill-section-box class="skill-category-wrapper">
                <h2>Backend</h2>
                <div class="skill-category-container">
                    <ul backend-stack >
                        <li><img loading="lazy" src={iconMap.django.src} alt={iconMap.django.alt} width="43" height="43">Django</li>
                        <li><img loading="lazy" src={iconMap.python.src} alt={iconMap.python.alt} width="43" height="43">Python</li>
                        <li><img loading="lazy" src={iconMap.firebase.src} alt={iconMap.firebase.alt} width="43" height="43">Firebase</li>
                    </ul>
                </div>
            </div>

            <div skill-section-box class="skill-category-wrapper">
                <h2>Tools</h2>
                <div class="skill-category-container">
                    <ul tools-stack >
                        <li><img loading="lazy" src={iconMap.figma.src} alt={iconMap.figma.alt} width="43" height="43">Figma</li>
                        <li><img loading="lazy" src={iconMap.git.src} alt={iconMap.git.alt} width="43" height="43">Git</li>
                        <li><img loading="lazy" src={iconMap.docker.src} alt={iconMap.docker.alt} width="43" height="43">Docker</li>
                    </ul>
                </div>
            </div>

            <div skill-section-box>
                <p> Du vermisst eine bestimmte Technologie in meinem Stack?<br>Ich bin offen für neue Tools und lerne schnell dazu.</p>
            </div>
             <div skill-section-box>
                <button>Schreib mir</button>
            </div>

    </div>

</section>

<style lang="scss">
    @use "../styles/index.scss" as *;

    section{
        width: 100%;
        background-color: $grey-background;
        padding: 124px 0px 0px 0px;
        position: relative;
        z-index: 300;
        padding-bottom: 696px;
    }

    .content-box{
        width: 100%;
        display: flex;
        align-items: start;
        padding: 0px $inner-padding;
        box-sizing: border-box;

        @media screen and (max-width:1020px) {
        text-align: center;
        justify-content: center;
        }
    }

    .textblock{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .skill-category-wrapper{
        display: grid;
        margin: 4rem 0rem;
        grid-template-columns: 250px 1fr;

        @media screen and (max-width:1020px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        

        h2{
            color: #ffffff;
            width: max-content;
            font-size: clamp(1.5rem, 12vw, 2.75rem);
            font-weight: 300;
        }
    }

    button{
        color: white;
    }

    .skill-category-container{
        width: 100%;
        display: flex;

        @media screen and (max-width:1020px) {
            justify-content: center;
            margin-top: 3rem;
        }
    }

    .skill-category-container ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 3.5rem;
        gap: 3.5rem;

        @media screen and (max-width:1020px) {
            padding-left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }


    .skill-category-container li{
        display: flex;
        align-items: center;
        color:white;
        font-size: $font-size-200;
        box-sizing: border-box;
        line-height: 2.5rem;

        img{
            margin-right: 1rem;
            max-height: 43px;
            width: 43px;
            object-position: center;
        }
    }
    .picture-container{
        width: 50%;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        overflow: hidden;
        opacity: 0.4;

        img{
            width: auto;
            filter: blur(6px);
        }

    }

    .curtain-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        pointer-events: none;
        overflow: hidden;
    }

    .curtain{
        --bottom-margin: 150px;
        --red-curtain-puffer: 16px;
        z-index: 99;
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: calc(-100% - var(--bottom-margin));
        left: 0px;

        &::before{
            content: "";
            position: absolute;
            top:-24%;
            left: 0%;
            width: 200%;
            height: 100%;
            rotate: -6deg;
        }
    }

    .inner{
        bottom: calc(-100% - var(--bottom-margin) + 36px - var(--red-curtain-puffer) );
    }

    .white{
       background-color: white;

        &::before{
           background-color: white; 
        }
    }

    .red{
        background-color: $main-color; 

        &::before{
            background-color: $main-color; 
        }
    }

</style>

<script>
    import { gsap } from "../lip/gsap";

    const skillSection = document.querySelector<HTMLElement>("[skill-section]");
    const sectionBoxes = gsap.utils.toArray("[skill-section-box]");
    const textBox = document.querySelector<HTMLElement>("[text-block]");
    const pictureContent = document.querySelector<HTMLElement>("[picture-content]");
    const whiteCurtain = document.querySelector<HTMLElement>("[white-skill-curtain]");
    const redCurtain = document.querySelector<HTMLElement>("[red-skill-curtain]");

    gsap.set(textBox,{
        y:"-=20%",
    })

    gsap.set(pictureContent,{
        y:"+=55%",
        x: "+=1050px",
        opacity:0,
    })

    const tlTextbox = gsap.timeline({
        scrollTrigger: {
            trigger: skillSection,
            start: "top 75%",
            end:"95% bottom",
            scrub:1,
            toggleActions: "play none none none",
        },
    });

    tlTextbox.to(textBox,{
        y:"+=20%"
    })


    const tlImage = gsap.timeline({
    scrollTrigger: {
        trigger: skillSection,
        start: "top 50%",
        end:"95% bottom",
        scrub:1,
        toggleActions: "play none none none",
        },
    });

    tlImage.to(pictureContent ,{
        x:"-=1045px",
        opacity:1,
    })
    .to(pictureContent,{
        y:"-=33%"
    })

    const tlOne = gsap.timeline({
        scrollTrigger: {
            trigger: skillSection,
            start: "top 65%",
            end:"60% bottom",
            scrub:1,
            toggleActions: "play none none none",

        },
    });

    (sectionBoxes as HTMLElement[]).forEach((section, i) => {

    tlOne.from(section, {
        opacity: 0,
        y: "+=70",
        ease: "power2.out"
    })

    const lis = section.querySelectorAll('.skill-category-wrapper ul li');
    if (lis.length > 0) {
        tlOne.from(lis, {
        opacity: 0,
        y: "+=70",
        stagger: 1,
        ease: "power2.out"
        }, ">");
    }
    })

        const tlcurtain = gsap.timeline({
        scrollTrigger: {
            trigger: skillSection,
            start: "80% bottom",
            end:"bottom 50%",
            scrub:1,
        },
    });


        tlcurtain
        .to(whiteCurtain,{
            y:"-=100vh",
            ease: "power1.out",
        },"<")
        .to(redCurtain,{
            y:"-=100vh",
            ease: "power4.out",
        },"<")

</script>